input, button {
  margin: 5px;
  font-size: 20px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  height: 30px;
}

textarea {
  height: 80px;
  width: 210px;
  font-size: 16px;
}

.content{
  font-size: 1.2em;
  text-align: left;
  margin-top: 1em;
  padding: 1.7em;
}

.category{
  text-align: right;
  margin-right: 10%;
  margin-top: 1.5em;
}

.article-title{
  padding-top: 1em;
  /* margin: 1em; */
}

#blogContent {
  height: 260px;
  font-size: 16px;
}

.article{
  margin       : auto;
  margin-top: 3.5em;
  text-align: center;
  width        : 70%;
  height       : 100%;
  background-color: rgba(255 , 255, 255, 0.9);
}