.app {
  background-color: rgb(20, 237, 140);
  width: 100%;
  color: white;
  padding: 10px;
  text-align: center;
}

header{
  text-align: center;
  background-color: #ffc823;
  width: 100%;
  height: 3em;
  margin: auto;
  margin-top: 0px;
}

.top{
  width: 100%;
  height: 20em;
  text-align: center;
  background-image: url("/assets/namiko.jpg");
}

.title {
  position: absolute;
  top: 30%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
  
  display: flex;
  flex-direction: column;
  font-size: 4em;
  font-weight: bold;
  color: white;
}

.links{
  color: white;
  text-align: left;
  overflow: hidden;
  margin: auto;
  min-width: 100px;
  float: left;
  font-size: 1.2em;
  -moz-transition: all 280ms ease;
  -o-transition: all 280ms ease;
  -webkit-transition: all 280ms ease;
  transition: all 280ms ease;
}

.links + .links {
  margin: 0 0 0 12px;
}

.head {
  padding: 10px;
  margin: auto;
}

.App-link {
  color: #61dafb;
}

h1{
  font-size: 3em;
  text-align: center;
}

